<%- include('parts/header')%>
<%- include('parts/navbar')%>

    <div class="container py-4">

        <% if(searchResult.length === 0){ %>
            <div class="alert alert-warning d-flex align-items-center my-2 justify-content-center">Oops! No result found</div>

    <% } for(let user of searchResult){ %>
        
    <div>
        <div class="card rounded d-flex row align-items-start my-3 col-sm-8 col-md-8 col-lg-12 col-xl-12">
            
            <div class="card-body d-flex align-items-center py-2 justify-content-between">
                
                <div class="d-flex justify-content-between">
                    <img src="/profile/<%= user.image%>" width="120px" height="120px" class="mr-3 rounded-circle">
                    <div class="mr-3">
                        <h4 class="card-title pt-3">
                            <a href="/profile/<%= user._id%>" class="text-decoration-none text-reset">
                                <%= user.username%>
                            </a>
                        </h4>
                        
                        <p class="card-text"><%= user.status %></p>
                    </div>
                 </div>

                <a href="/profile/<%= user._id %>"  class="btn btn-primary d-flex column justify-content-center w-25">View Profile</a>
            </div>
    </div>
    <% } %>
    </div>

<%- include('parts/footer')%>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>